Add support for message headers

https://www.iana.org/assignments/message-headers/message-headers.xhtml

Much like how https://github.com/kirsn/py-message-headers is providing autogenerated http headers for python, you may want to consider extending support for Internet mail, HTTP, Netnews and other similar applications messages.

This is how kirsn approaches it

```python
# standard, [RFC6266]
CONTENT_DISPOSITION = "Content-Disposition"

# standard, [RFC7231, Section 3.1.2.2]
CONTENT_ENCODING = "Content-Encoding"

# standard, [RFC4229]
CONTENT_ID = "Content-ID"
```

in c maybe we could approach it like

```c
/* START OF HTTP MESSAGE HEADER */
#define CONTENT_DISPOSITION "Content-Disposition" // standard, [RFC6266]
#define CONTENT_ENCODING = "Content-Encoding" //  standard, [RFC7231, Section 3.1.2.2]
#define CONTENT_ID = "Content-ID" //  standard, [RFC4229]
/* END OF HTTP MESSAGE HEADER */
```