Cannot resync requirement.txt to latest version

When

```
certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.7
requests==2.31.0
toml==0.10.2
urllib3==2.2.1
```

is upgraded to:

```
certifi==2024.12.14
charset-normalizer==3.4.1
idna==3.10
requests==2.32.3
toml==0.10.2
urllib3==2.3.0
```

We get a bug where `eat_profile = 2` is erronously added:

```
  // text/plain; charset=utf-8; Ref: [RFC2046][RFC3676][RFC5147]
  COAP_CONTENT_FORMAT_TEXT_PLAIN_UTF_8 = 0,
  eat_profile = 2,
  // application/cose; cose-type="cose-encrypt0"; Ref: [RFC9052]
  COAP_CONTENT_FORMAT_APPLICATION_COSE_ENCRYPT0 = 16,
```

Will need to narrow down which package has problem.